<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

{% block title %}
<center><div class="row">
	<h3>Distributed Python IDE</h3>
	<hr>
</div></center>
{% endblock %}

{% if user.is_authenticated %}

	<form>
 		<textarea placeholder='Write Python script here...' rows='50' cols='125' id="code" name="code"></textarea>
	</form>


	{% load djangocodemirror_tags %}
	{% codemirror_instance 'restructuredtext' 'code_codemirror' 'code' %}


	<p><center>Welcome {{ user.username }}!</center></p>
	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
	.tg .tg-mjde{font-size:14px;font-family:"Comic Sans MS", cursive, sans-serif !important;;background-color:#ffccc9;border-color:#c0c0c0;text-align:left;vertical-align:top}
	.tg .tg-4yvc{background-color:#ffccc9;border-color:#c0c0c0;text-align:left;vertical-align:top}
	</style>
	<center><table class="tg" style="undefined;table-layout: fixed; width: 204px">
	<colgroup>
	<col style="width: 80px">
	<col style="width: 80px">
	<col style="width: 80px">
	<col style="width: 80px">
	</colgroup>
	  <tr>
	    <th class="tg-mjde"><center>push</center></th>
   	 <th class="tg-4yvc"><center>pull</center></th>
	    <th class="tg-4yvc"><center>run</center></th>
	    <th class="tg-4yvc"><center>sync</center></th>
	  </tr>
	</table></center>
		<center><p><a href="{% url 'logout' %}">logout</a></p></center>


{% else %}
	<center><p>You are not logged in</p>
  	<a href="{% url 'login' %}">login</a></center>

{% endif %}